@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: #1e1e1e;
        --background: #f8f8f8;
        --primary: #c992af;
        --secondary: #c6abad;
        --accent: #ae8f87;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --text: #f8f8f8;
            --background: #1e1e1e;
            --primary: #6d3653;
            --secondary: #553a3c;
            --accent: #765851;
        }
    }
}

/* :root {
    --background: #f8f8f8;
    --foreground: #1e1e1e;
} */

/* @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

/* 
body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
} */
